// Common blocks
.logo {
  width: 200px;
  height: 100px;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  @extend %flexCenterY;
  color: $primary-color;
  // text-decoration: none;
  cursor: pointer;

  // &_underlined {
  //   text-decoration: underline;
  // }

  &_accent {
    color: $accent-color;
  }
}

.btn {
  @extend %flexCenterXY;
  padding: 5px 15px;
  border: 1px solid $accent-color;
  border-radius: 33px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }

  &_alt {
    color: $accent-color;
    border: 1px solid #fff;
    background: transparent;

    &:hover {
      background: #fff;
      color: $accent-color;
    }
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_tel {
    background-image: url(../assets/img/icons/icon--tel.svg);

    &-alt {
      width: 45px;
      height: 45px;
      background-image: url(../assets/img/icons/icon--tel-alt.svg);
    }
  }

  &_mail {
    background-image: url(../assets/img/icons/icon--mail.svg);
  }

  &_arrow-right {
    width: 38px;
    height: 17px;
    background-image: url(../assets/img/icons/icon--arrow-right.svg);
  }

  &_chevron-down {
    width: 15px;
    background-image: url(../assets/img/icons/icon--chevron-down.svg);
  }


}

.stress {
  &_accent-color {
    color: $accent-color;
  }

  &_bold {
    font-weight: bold
  }
}

.nav {
  &__menu {
    display: flex;
    justify-content: space-around;
  }

  &__item:not(:first-child) {
    margin-left: 40px;
  }

  &__link {
    color: $menu-links-color;

    &_active {
      color: $menu-active-link-color;
    }
  }
}

.socials {
  @extend %flexCenterXY;

  .link:not(:first-child) {
    margin-left: 15px;
  }
}

.author {
  max-width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;

  &_with-photo {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 35% auto;
    grid-gap: 0 25px;
    grid-template-areas:
      'author-photo author-name'
      'author-photo author-position';
  }

  &__name {
    font-size: 24px;
    font-weight: bold;
    grid-area: author-name;
  }

  &__photo {
    grid-area: author-photo;
  }

  &__position {
    grid-area: author-position;
  }
}

// Форма подписки
.subscription {
  margin-top: 50px;
  background-color: $accent-color;

  &__btn,
  &__cta-text,
  &__privacy-policy-text {
    color: #fff;
  }

  &__btn,
  &__cta-text,
  &__input {
    font-family: $main-font;
  }


  &__form {
    display: flex;
  }

  &__input,
  &__btn {
    font-size: 14px;
  }

  &__btn {
    border-width: 2px;
  }

  &__input {
    width: 220px;
    padding-left: 20px;
    border-radius: 33px;
    border: transparent;
  }


}