@font-face {
  font-family: 'Circe-Regular';
  src: url('../assets/fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
    url('../assets/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Regular.woff') format('woff'),
    url('../assets/fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url('../assets/fonts/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
    url('../assets/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Light.woff') format('woff'),
    url('../assets/fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('../assets/fonts/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
    url('../assets/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Circe-Bold.woff') format('woff'),
    url('../assets/fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}