.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    font-family: $light-font;
    font-weight: 100;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: normal;
    margin-top: 25px;
    font-size: 18px;
  }
}

// Specific blocks

// Main slider
.banner {
  padding: 0;
  background: $bg-gradient;
}

.home-slider {
  max-width: 1360px;
  margin: 0 auto;

  &__container {
    @extend %flexCenterY;
    height: 500px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 40%;
    height: 80%;

    border-width: 7px;
    border-style: solid;
    border-image: url('../assets/img/border-gradient.svg') 60 30;
  }

  &__title {
    font-family: $light-font;
  }

}

.author {
  margin-top: 30px;
}

// СЕКЦИЯ: Миссия
.mission {
  &__grid-box {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
  }

  &__summary-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $accent-color;
  }
}

.description {
  text-align: right;

  &__title {
    margin-bottom: 25px;
    font-size: 42px;
    text-transform: uppercase;

    span {
      display: inline-block;
    }
  }

  &__text {
    line-height: 21px;
    letter-spacing: 0.01em;
  }

  .link {
    display: block;
    margin-top: 10px;
    text-align: right;
    font-size: 15px;
  }
}

.requirements {
  grid-column: 3 / 4;

  &__title,
  &__item-title {
    font-weight: 350;
    font-size: 24px;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__list {
    margin-top: 15px;
  }

  &__thumb {
    @extend %flexCenterXY;
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 30px;

      .requirements__thumb {
        position: relative;
        z-index: 5;

        &::before {
          content: '';
          position: absolute;
          top: -60px;
          left: 50%;
          height: 60px;
          border-left: 1px dashed #B8B8B8;
          z-index: 4
        }
      }
    }
  }

  &__thumb {
    flex-shrink: 0
  }

  &__info {
    margin-left: 15px
  }
}

// СЕКЦИЯ: Анонсы

.announcements {
  position: relative;
  background: linear-gradient(0deg, #F7F7F7, #F7F7F7);

  &__grid {
    display: flex;
  }

  &__announcement {
    width: 50%;
    font-family: $light-font;
    font-weight: 100;

    &:nth-child(odd) {
      padding-right: 40px;
    }

    &:nth-child(even) {
      padding-left: 40px;
      border-left: 1px solid $accent-color;
    }
  }

  &__header {
    display: flex;

    &-info {
      margin-left: 20px;
    }
  }

  &__thumb {
    flex-shrink: 0;
  }

  &__img {
    border-radius: 50%;
  }

  // Загаловки анонса
  &__title,
  &__subtitle {
    color: $accent-color;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 25px;
    font-weight: 100;
    line-height: 35px;
  }

  &__date,
  &__address {
    line-height: 23px;
  }

  // Отрывок анонса
  &__exerpt {
    margin-top: 20px;
    text-align: justify;
  }

  &__more-btn {
    @extend %flexCenterX;
    align-items: flex-end;
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 30px;
    height: 30px;
    border: transparent;
    border-radius: 50%;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7);
    cursor: pointer;
  }
}

// СЕКЦИЯ: Цытата
.quotation {
  background-color: #fff;
  box-shadow: $shadow;

  &-wrapper {
    padding: 70px 0;
    background: linear-gradient(136.5deg, #DFE119 0.25%, #8FCC33 16.07%, #43B74B 32.48%, #12AA5B 44.22%, #00A561 50.03%, #0E013D 99.81%);
  }

  &__text {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    font-weight: 100;
    font-family: $light-font;
  }

  .author {
    margin-left: auto;
    margin-right: auto;
  }
}

// СЕКЦИЯ: Новости
.news {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 370px;
    text-align: center;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__thumb {
    width: 200px;
    height: auto;
    border-radius: 50%;
  }

  &__title {
    margin-top: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #222;
    font-weight: bold;
  }

  &__link {
    margin-top: 15px;
    font-size: 12px;
  }
}

// БЛОК: Форма подписки
.subscription {
  &_horizontal {
    @extend %flexCenterXY;
    height: 120px;

    &>* {
      height: 40px;
    }

    .subscription__cta-text {
      max-width: 320px;
      text-align: right;
    }

    .subscription__form {
      margin: auto 12px;
    }

    .subscription__btn {
      margin-left: 12px;
    }

    .subscription__privacy-policy-text {
      width: 220px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}