.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    font-family: $bold-font;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
  }

  &__subtitle {
    font-weight: normal;
    margin-top: 25px;
    font-size: 18px;
  }
}

// Specific blocks

// Main slider
.banner {
  padding: 0;
  background: $bg-gradient;
}

.home-slider {
  max-width: 1360px;
  margin: 0 auto;

  &__container {
    @extend %flexCenterY;
    height: 500px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 40%;
    height: 80%;

    border-width: 7px;
    border-style: solid;
    border-image: url('../assets/img/border-gradient.svg') 60 30;
  }

  &__title {
    font-family: $light-font;
  }

}

.author {
  margin-top: 30px;
}

// СЕКЦИЯ: Миссия
.mission {
  &__grid-box {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
  }

  &__summary-text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $accent-color;
  }
}

.description {
  text-align: right;

  &__title {
    margin-bottom: 25px;
    font-size: 42px;
    text-transform: uppercase;

    span {
      display: inline-block;
    }
  }

  &__text {
    line-height: 21px;
    letter-spacing: 0.01em;
  }

  .link {
    display: block;
    margin-top: 10px;
    text-align: right;
    font-size: 15px;
  }
}

.requirements {
  grid-column: 3 / 4;

  &__title,
  &__item-title {
    font-weight: 350;
    font-size: 24px;
    text-transform: uppercase;
    color: $accent-color;
  }

  &__list {
    margin-top: 15px;
  }

  &__thumb {
    @extend %flexCenterXY;
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 30px;

      .requirements__thumb {
        position: relative;
        z-index: 5;

        &::before {
          content: '';
          position: absolute;
          top: -60px;
          left: 50%;
          height: 60px;
          border-left: 1px dashed #B8B8B8;
          z-index: 4
        }
      }
    }
  }

  &__thumb {
    flex-shrink: 0
  }

  &__info {
    margin-left: 15px
  }
}