footer.footer
  .footer-container.container
    .row
      .footer__policy.footer__col.col-12.col-sm-6.col-md-4
        a.link(href="#") Политика конфеденциальности
      .footer__copyright.footer__col.col-12.col-sm-12.col-md-4
        .copyright © Бизнес Как Миссия. Россия 2019.Все права защищены.
          br 
          | Все права защищен
      .footer__developer.footer__col.col-12.col-sm-6.col-md-4
        | Сайт разработан студией
        | 
        a.footer__link.link(href="#") IS ART
.light-box

script(src='./js/jquery-3.4.1.min.js')
script(src='./js/slick.min.js')
script(src='./js/jquery.fancybox.min.js')
script(src='./js/main.js')
