header.header
  .header__top-block
    .header__top-block-container.container
      .language-select
        .option RU
      .socials
        a.link(href="#")
          img.socials__icon(src="./assets/img/icons/socials--facebook.png")
        a.link(href="#")
          img.socials__icon(src="./assets/img/icons/socials--vk.png")
        a.link(href="#")
          img.socials__icon(src="./assets/img/icons/socials--instagram.png")
        a.link(href="#")
          img.socials__icon(src="./assets/img/icons/socials--youtube.png")

  .header__bottom-block
    .header__bottom-block-container.container
      section.logo-section
        a.logo.link(href="#")
          img.logo__img(src="./assets/img/logo.png")
      section.menu-section
        .menu-btn
          .menu-btn__line
          .menu-btn__line
          .menu-btn__line
        nav.nav
          ul.nav__menu.list
            li.nav__item
              a.nav__link.nav__link_active.link(href="#about") Главная
            li.nav__item
              a.nav__link.link(href="#portfolio") Что такое БКМ?
            li.nav__item
              a.nav__link.link(href="#contacts") Анонсы
            li.nav__item
              a.nav__link.link(href="#services") Новости
            li.nav__item
              a.nav__link.link(href="#services") Ресурсы
            li.nav__item
              a.nav__link.link(href="#services") Партнеры
        //- .search search