doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title БКМ
    link(href='css/normalize.css', rel='stylesheet' type='text/css')
    link(href='css/bootstrap-grid.min.css' rel='stylesheet' type='text/css')
    link(href='css/jquery.fancybox.min.css' rel='stylesheet' type='text/css')
    link(href='css/main.css', rel='stylesheet' type='text/css')
  body
    include _header.pug
    main.main
      //- СЕКЦИЯ: Баннер
      section.section.banner
        .home-slider
          article.home-slider__slide
            .home-slider__container.container
              .home-slider__info
                header.main-slider__header.section__header
                  h2.main-slider__title
                    span.stress_accent-color БОГ ЯВЛЯЕТСЯ САМЫМ ПЕРВЫМ ПРЕДПРИНИМАТЕЛЕМ:
                    br
                    | ОН НАЧАЛ С ИДЕИ, ЗАМЫСЛА, И ЗАТЕМ СОТВОРИЛ БЕСКОНЕЧНЫЕ МНОЖЕСТВА ПРЕКРАСНЫХ ВЕЩЕЙ. 
                .author
                  .author__name Матс Тюнехаг
                  .author__position руководитель рабочей группы Бизнес как миссия при Лозаннском движении

          article.home-slider__slide
            .home-slider__container.container
              .home-slider__info
                header.main-slider__header.section__header
                  h2.main-slider__title
                    span.stress_accent-color БОГ ЯВЛЯЕТСЯ САМЫМ ПЕРВЫМ ПРЕДПРИНИМАТЕЛЕМ:
                    | ОН НАЧАЛ С ИДЕИ, ЗАМЫСЛА, И ЗАТЕМ СОТВОРИЛ БЕСКОНЕЧНЫЕ МНОЖЕСТВА ПРЕКРАСНЫХ ВЕЩЕЙ. 
                .author
                  .author__name Матс Тюнехаг
                  .author__position руководитель рабочей группы Бизнес как миссия при Лозаннском движении

      //- СЕКЦИЯ: Что такое миссия
      section.mission.section
        .container
          .mission__grid-box.row
            .description
              header.description__header
                h2.description__title
                  | Что такое &nbsp;
                  span.stress_accent-color бизнес миссия
                  | ?
              p.decription__text Возможно, Вас учили тому, что главное служение христианина-предпринимателя – это приносить хорошие пожертвования и поддерживать социальные и миссионерские проекты. Однако, Писание говорит нам о том, что давать пожертвования – это привилегия, доступная всем христианам, независимо от уровня дохода. Более того, размер пожертвований вообще Бога не впечатляет (Лк. 21:1-4),
              p.decription__text Его гораздо больше интересует состояние наших сердец.
              p.decription__text У движения "Бизнес как миссия" есть другой взгляд на служение предпринимателя: бизнес - это средство целостной трансформации общества, путем осуществления позитивных изменений на четырех уровнях: экономическом, социальном, в окружающей среде и духовном. Каждое из этих изменений указывает на Бога, искупительную жертву Христа и, тем самым, свидетельствует о Царстве Божьем. Иными словами, сам бизнес является служением! 
              a.link_accent.link(href="#") Подробнее о БКМ
            
            .requirements
              header.requirements__header
                h2.requirements__title При каких условиях бизнес становится миссией?
              p.requirements__text Участники движения БКМ говорят о позитивном влиянии на четырех уровнях:

              ul.requirements__list.list
                li.requirements__item
                  .requirements__thumb
                    img.requirements__img(src="./assets/img/thumb.jpg")

                  .requirements__info
                    header.requirements__item-header
                      h2.requirements__item-title ЭКОНОМИЧЕСКОМ
                    p.requirements__text бизнес должен способствовать росту экономики на той территории, где он действует
  
                li.requirements__item
                  .requirements__thumb
                    img.requirements__img(src="./assets/img/thumb.jpg")

                  .requirements__info
                    header.requirements__item-header
                      h2.requirements__item-title ЭКОНОМИЧЕСКОМ
                    p.requirements__text бизнес должен способствовать росту экономики на той территории, где он действует
                
                li.requirements__item
                  .requirements__thumb
                    img.requirements__img(src="./assets/img/thumb.jpg")

                  .requirements__info
                    header.requirements__item-header
                      h2.requirements__item-title ЭКОНОМИЧЕСКОМ
                    p.requirements__text бизнес должен способствовать росту экономики на той территории, где он действует

                li.requirements__item
                  .requirements__thumb
                    img.requirements__img(src="./assets/img/thumb.jpg")

                  .requirements__info
                    header.requirements__item-header
                      h2.requirements__item-title ЭКОНОМИЧЕСКОМ
                    p.requirements__text бизнес должен способствовать росту экономики на той территории, где он действует             

          p.mission__summary-text
            | Таким образом, БКМ - это проявление Царства Божьего на нескольких уровнях:
            br 
            | отдельного человека, целого сообщества и природы (творения).

      //- СЕКЦИЯ: Анонсы
      section.announcements.section
        .container
          .announcements__grid
            .announcements__announcement
              .announcements__header
                .announcements__thumb
                  img.announcements__img(src="./assets/img/news--thumb-1.jpg")
                .announcements__header-info
                  h3.announcements__title Первая российская конференции
                  h4.announcements__subtitle «Бизнес Как Миссия» 
                  .announcements__date 15-16 ноября 2019
                  .announcements__address Москва, Отель "Милан"
              p.announcements__exerpt Если вы верите, что Бог действет не только на собраниях церкви, но также и в повседневной жизни, если вы хотите чтобы ваша профессиональная деятельность была свидетельством о Христе и Его Царстве - эта конференция для вас!
            .announcements__announcement
              .announcements__header
                .announcements__thumb
                  img.announcements__img(src="./assets/img/news--thumb-2.jpg")
                .announcements__header-info
                  h3.announcements__title Первая российская конференции
                  h4.announcements__subtitle «Бизнес Как Миссия» 
                  .announcements__date 15-16 ноября 2019
                  .announcements__address Москва, Отель "Милан"
              p.announcements__exerpt Если вы верите, что Бог действет не только на собраниях церкви, но также и в повседневной жизни, если вы хотите чтобы ваша профессиональная деятельность была свидетельством о Христе и Его Царстве - эта конференция для вас!
        button.announcements__more-btn
          i.icon.icon_chevron-down
            

      //- СЕКЦИЯ: Цытата
      .quotation-wrapper
        section.quotation.section
          .container
            .quotation__text Бизнес - основная сила, которая позволяет любви Бога проявиться в человеческой истории.
            .author.author_with-photo
              img.author__photo(src="./assets/img/quotation-author.png")
              .author__name Даллас Уиллард
              .author__position американский философ-феноменолог и богослов

      //- СЕКЦИЯ: Новости
      section.news.section
        .container
          header.news__header
            h2.section__title Новости
          
          ul.news__list.list
            li.news__item
              .news__info
                img.news__thumb(src="./assets/img/news--thumb-3.jpg")
                h2.news__title Экономическом Бизнес должен
                .news__description способствовать росту экономики на той территории, где он действует.
              a.news__link.link Подробнее

            li.news__item
              .news__info
                img.news__thumb(src="./assets/img/news--thumb-4.jpg")
                h2.news__title Экономическом Бизнес должен
                .news__description способствовать росту экономики на той территории, где он действует.
              a.news__link.link Подробнее

            li.news__item
              .news__info
                img.news__thumb(src="./assets/img/news--thumb-5.jpg")
                h2.news__title Экономическом Бизнес должен
                .news__description способствовать росту экономики на той территории, где он действует.
              a.news__link.link Подробнее
            
            li.news__item
              .news__info
                img.news__thumb(src="./assets/img/news--thumb-4.jpg")
                h2.news__title Экономическом Бизнес должен
                .news__description способствовать росту экономики на той территории, где он действует.
              a.news__link.link Подробнее
      //- СЕКЦИЯ: Форма подписки
      section.subscribtion.section
        .container

      //- СЕКЦИЯ: Ресурсы
      section#resourses.resourses.section
        .container

      //- СЕКЦИЯ: Партнеры и спонсоры
      section#partners.partners.section
        .container

    //- ФУТЕР
    include _footer.pug    